<app-header></app-header>
<div class="bg-white">
  <div class="relative overflow-hidden bg-gray-900 py-12 sm:py-16">
    <img src="https://images.unsplash.com/photo-1568254183919-78a4f43a2877?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="absolute inset-0 w-full h-full object-cover">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl"></h2>
            <p class="mt-6 text-lg leading-8 text-gray-300"></p>
        </div>
    </div>
</div>
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    
    


    <!-- Agrega el ngModel para vincular el valor del campo de búsqueda -->
    <form >
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <input #txtSearch   (keyup)="onSearchProducts( txtSearch.value)"      type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="búsqueda de productos" required>
        
      </div>
    </form>
    
    
    

  


    <div class="badge-container"><br>
      <span (click)="filterByCategory('pasteles')" class="inline-flex items-center gap-x-1.5 rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600">
        <svg class="h-1.5 w-1.5 fill-gray-400" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Pasteleria
      </span>
      <span (click)="filterByCategory('congelados')" class="inline-flex items-center gap-x-1.5 rounded-md bg-red-100 px-2 py-1 text-xs font-medium text-red-700">
        <svg class="h-1.5 w-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Congelados
      </span>
      <span (click)="filterByCategory('regalos')" class="inline-flex items-center gap-x-1.5 rounded-md bg-yellow-100 px-2 py-1 text-xs font-medium text-yellow-800">
        <svg class="h-1.5 w-1.5 fill-yellow-500" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Regalos
      </span>
      <span (click)="filterByCategory('combos')"class="inline-flex items-center gap-x-1.5 rounded-md bg-green-100 px-2 py-1 text-xs font-medium text-green-700">
        <svg class="h-1.5 w-1.5 fill-green-500" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Combos
      </span>
      <span (click)="filterByCategory('sandwiches')"class="inline-flex items-center gap-x-1.5 rounded-md bg-blue-100 px-2 py-1 text-xs font-medium text-blue-700">
        <svg class="h-1.5 w-1.5 fill-blue-500" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Sandwiches
      </span>
      <span (click)="filterByCategory('pizzas')" class="inline-flex items-center gap-x-1.5 rounded-md bg-indigo-100 px-2 py-1 text-xs font-medium text-indigo-700">
        <svg class="h-1.5 w-1.5 fill-indigo-500" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Pizzas
      </span>
      <span (click)="filterByCategory('bebidas-frias')"class="inline-flex items-center gap-x-1.5 rounded-md bg-purple-100 px-2 py-1 text-xs font-medium text-purple-700">
        <svg class="h-1.5 w-1.5 fill-purple-500" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Bebidas frias
      </span>
      <span (click)="filterByCategory('bebidas-calientes')"class="inline-flex items-center gap-x-1.5 rounded-md bg-pink-100 px-2 py-1 text-xs font-medium text-pink-700">
        <svg class="h-1.5 w-1.5 fill-pink-500" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Bebidas calientes
      </span>
      <span (click)="filterByCategory('sopas')"  class="inline-flex items-center gap-x-1.5 rounded-md bg-green-300 px-2 py-1 text-xs font-medium text-green-900">
        <svg class="h-1.5 w-1.5 fill-green" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Sopas
      </span>
      <span (click)="filterByCategory('hamburguesas')"  class="inline-flex items-center gap-x-1.5 rounded-md bg-pink-100 px-2 py-1 text-xs font-medium text-pink-700">
        <svg class="h-1.5 w-1.5 fill-pink-500" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Hambuergesas
      </span>
      <span *ngIf="selectedCategory !== ''" (click)="clearCategoryFilter()" class="inline-flex items-center gap-x-1.5 rounded-md bg-red-100 px-2 py-1 text-xs font-medium text-red-700 cursor-pointer">
        <svg class="h-1.5 w-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
          <circle cx="3" cy="3" r="3" />
        </svg>
        Limpiar Categoría
      </span>
    </div>


    <div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
      <ng-container *ngFor="let product of getFilteredProducts() | filter:page:search; let i = index">
        <div class="mb-8">
          <div class="relative">
            <div class="relative h-72 w-full overflow-hidden rounded-lg">
              <img [src]="product.img" alt="{{ product.post_title }}" />
            </div>
            <div class="relative mt-4">
              <p class="text-sm font-medium text-gray-900">{{ product.post_title }}<p>
              <p class="text-sm font-medium text-gray-900"> sku:{{ product.sku }}</p>
              <p class="mt-4 flex space-x-2 text-sm text-gray-700">
              </p>
            </div>
            <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
              <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
              <p class="relative text-lg font-semibold text-white">Q. {{ product.price }}</p>
            </div>
          </div>
          <div class="mt-6">
            <ng-container *ngIf="product.stock !== 'outofstock'">
              <a (click)="addToCart(product)" class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-blue-300">
                Añadir al carrito
              </a>
            </ng-container>
            <ng-container *ngIf="product.stock === 'outofstock'">
                <a class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-red-500">No disponible</a>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>



    
    

    <nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6" aria-label="Pagination">
      <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">1</span>
          to
          <span class="font-medium">10</span>
          of
          <span class="font-medium">20</span>
          results
        </p>
      </div>
      <div class="flex flex-1 justify-between sm:justify-end">
        <a   (click)="prevPage()"   class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Aterior</a>
        <a  (click)="nextPage()"    class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Siguiente</a>
      </div>
    </nav>
    
    
   
  </div>
</div>






