
  <nav class="navbar">
    <div class="navbar-cart">
        <header class="relative bg-white">
            <nav aria-label="Top" class="mx-auto max-w-7xl sm:px-6 lg:px-8">
              <div class="relative border-b border-gray-200 px-4 pb-14 sm:static sm:px-0 sm:pb-0">
                <div class="flex h-16 items-center justify-between">
                  <div class="flex flex-1">
                    <a>
                        <span class="sr-only">Your Company</span>
                        <img class="h-16 w-auto" src="../../../assets/Logo-azul-SM-1024x269.png" alt="">
                    </a>
                </div>
                  <div class="flex flex-1 items-center justify-end">

                    <div class="ml-4 flow-root text-sm lg:relative lg:ml-8">
                      <button class="navbar-cart" (click)="onToggleCart()"  type="button" class="group -m-2 flex items-center p-2" aria-expanded="false">
                        <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>
                        <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800"></span>
                        <span class="sr-only">items in cart, view bag</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </header>
    </div>
  </nav>
  <div class="cart" [ngClass]="{ show: viewCart }">
    <app-cart></app-cart>
  </div>