
  <nav class="navbar">
    <div class="navbar-cart">
        <header class="relative bg-white">
            <nav aria-label="Top" class="mx-auto max-w-7xl sm:px-6 lg:px-8">
              <div class="relative border-b border-gray-200 px-4 pb-14 sm:static sm:px-0 sm:pb-0">
                <div class="flex h-16 items-center justify-between">
                  <div class="flex flex-1">
                    <a>
                        <span class="sr-only">Your Company</span>
                        <img class="h-16 w-auto" src="../../../assets/Logo-azul-SM-1024x269.png" alt="">
                    </a>
                </div>
                  <div class="flex flex-1 items-center justify-end">

                    <div class="ml-4 flow-root text-sm lg:relative lg:ml-8">
                      <button class="navbar-cart" (click)="onToggleCart()"  type="button" class="group -m-2 flex items-center p-2" aria-expanded="false">
                        <button type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500">
                          <!-- Reemplaza 'ruta/al/archivo.gif' con la ruta real de tu archivo GIF -->
                          <img src="../../../assets/icon2.gif" alt="Icono de carrito de compras" class="h-5 w-5"> <!-- Aumenté el tamaño a h-8 y w-8 -->
                        </button>
                        <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800"></span>
                        <span class="sr-only">items in cart, view bag</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </header>
    </div>
  </nav>
  <div class="cart" [ngClass]="{ show: viewCart }">
    <app-cart></app-cart>
  </div>
