




  <section class="overflow-hidden bg-white py-11 font-poppins dark:bg-gray-800">
    <div class="max-w-6xl px-4 py-4 mx-auto lg:py-8 md:px-6">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4 md:w-1/2 ">
                <div class="sticky top-0 z-50 overflow-hidden ">
                    <div *ngIf="productDataImg" class="relative mb-6 lg:mb-10 lg:h-2/4 ">

                        <img [src]="productDataImg.img_desktop" alt="" />
                    </div>
                    <div class="flex-wrap hidden md:flex ">
                        <div class="w-1/2 p-2 sm:w-1/4">
                            <a href="#"
                                class="block border border-blue-300 dark:border-transparent dark:hover:border-blue-300 hover:border-blue-300">
                                <img [src]="productDataImg.img_desktop" alt="" />

                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="w-full px-4 md:w-1/2 ">
                <div class="lg:pl-20">
                    <div class="mb-8 ">
                        <div *ngIf="productData">

                        <h2 class="max-w-xl mt-2 mb-6 text-2xl font-bold dark:text-gray-400 md:text-4xl">{{ productData }}</h2>
                        </div>

                        <p class="max-w-md mb-8 text-gray-700 dark:text-gray-400">
                            {{ productData.description_es }}
                        </p>
                        <p class="inline-block mb-8 text-4xl font-bold text-gray-700 dark:text-gray-400 ">


                        </p>

                    </div>
                    <div class="flex items-center mb-8">
                        <fieldset>
                            <legend class="sr-only">Notifications</legend>
                            <div class="space-y-5">
                              <div class="relative flex items-start">
                              </div>
                            </div>
                          </fieldset>
                    </div>

                    <div *ngIf="Presentations && Presentations.length > 0" class="text-black">
                        <div class="space-y-2">
                          <ng-container *ngFor="let product of Presentations; let j = index">
                            <h1 class="font-bold text-3xl">{{product.name}}</h1><br>
                            <ng-container *ngFor="let presentation of product.presentation; let i = index">
                              <label [for]="'sopa' + i + j" class="flex items-center space-x-2">
                                <input type="checkbox" [id]="'sopa' + i + j" class="form-checkbox text-indigo-600"
                                       [(ngModel)]="checkboxState[j][i]" />
                                <h4>{{ presentation.name }}</h4>
                              </label>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div><br>











                    <div class="flex flex-wrap items-center -mx-4 ">

                        <div class="w-full px-4 mb-4 lg:mb-0 lg:w-1/2">
                            <button (click)="guardarYMostrar()"
                                class="flex items-center justify-center w-full p-4 text-blue-500 border border-blue-500 rounded-md dark:text-gray-200 dark:border-blue-600 hover:bg-blue-600 hover:border-blue-600 hover:text-gray-100 dark:bg-blue-600 dark:hover:bg-blue-700 dark:hover:border-blue-700 dark:hover:text-gray-300">
                                Agregar al carrito
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
